<footer id="footer">
    <div class="container">
       <div class="footer_main">
          <div class="footer_col1" data-aos="fade-right" data-aos-duration="1200" data-aos-easing="linear">
             <div class="f_logo">
                <a href="#">The Corporate <span>Connection</span></a>
                <!-- <img src="/assets/footer_logo.png" alt="Footer Logo"> -->
             </div>
             <div class="call">(978) 532-3224</div>
             <address>16 Winter Street, Peabody, MA 01960</address>
             <a href="mailto:info@marchandmartin.com" title="mailto:info@marchandmartin.com" class="mailto">info@marchandmartin.com</a>
             <div class="social">
                <span><a href="#" title="Facebook"> <img src="/assets/1.png" alt="Facebook"> </a></span>
                <span><a href="#" title="Twitter"> <img src="/assets/2.png" alt="Twitter"> </a></span>
                <span><a href="#" title="Google"> <img src="/assets/3.png" alt="Google"> </a></span>
             </div>
          </div>
          <div data-aos="fade-right" data-aos-duration="1200" data-aos-easing="linear">
             <h3>Quick Links</h3>
             <ul class="f_link">
                <li><a href="" title="About Us">About Us</a></li>
                <li><a href="" title="Resources">Resources</a></li>
                <li><a href="" title="Testimonials">Testimonials</a></li>
                <li><a href="" title="Project Gallery">Project Gallery</a></li>
                <li><a href="" title="FAQs">FAQs</a></li>
             </ul>
          </div>
          <div data-aos="fade-left" data-aos-duration="1200" data-aos-easing="linear">
             <h3>Products / Services</h3>
             <ul class="f_link">
                <li><a href="" title="Icynene Insulation">Icynene Insulation</a></li>
                <li><a href="" title="Traditional Closed Cell Polyurethane">Traditional Closed Cell Polyurethane </a></li>
                <li><a href="" title="Thermal & Ignition Barrier">Thermal & Ignition Barrier</a></li>
                <li><a href="" title="Infrared Thermography">Infrared Thermography</a></li>
             </ul>
          </div>
          <div class="Recent_Blogs" data-aos="fade-left" data-aos-duration="1200" data-aos-easing="linear">
             <h3>Recent Blogs</h3>
             <p class="color">How spray foam insulation warms up a cold room</p>
             <p >Now that winter is upon us, have you turned your 
                heat up higher than you’d like?... <a href="" title="Read More">Read More</a>
             </p>
             <p class="color">Finding A Licensed Contractor For Your Foam Installation</p>
             <p>Not all insulation is created equal, for many different 
                reasons. There are some instances... <a href="" title="Read More">Read More</a>
             </p>
          </div>
       </div>
    </div>
    <div class="container">
       <div class="footer_end" >
          <div class="copyright">
             <p>March & Martin &copy; 2018 All Rights Reserved.</p>
          </div>
          <div>
             <ul class="product">
                <li><a href="#" title="The lcynono insulation System"> <img src="/assets/product.png" alt="ttt"></a></li>
                <li><a href="#" title="Product Logo"> <img src="/assets/prodct1.png" alt="Product Logo"></a></li>
                <li><a href="#" title="Product Logo"> <img src="/assets/prodct2.png" alt="Product Logo"></a></li>
                <li><a href="#" title="Product Logo"> <img src="/assets/prodct3.png" alt="Product Logo"></a></li>
                <li><a href="#" title="Product Logo"> <img src="/assets/prodct4.png" alt="Product Logo"></a></li>
             </ul>
          </div>
       </div>
    </div>
 </footer>