<button id="scroll_btn" title="Go to top"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
<header id="Home">
   <div class="bg-Blue">
      <div class="container">
         <div class="header-top row">
            <div class="header-top-txt col-md-4">
               <span><i class="fa fa-map-marker header-icon" aria-hidden="true"></i> 16 Winter Street, Peabody, MA 01960</span>
            </div>
            <div class="header-top-txt col-md-4">
               <span><i class="fa fa-phone header-icon" aria-hidden="true"></i> NEED HELP? CALL +1 (951) 123-4554</span>
            </div>
            <div class="header-top-txt col-md-4">
               <span><i class="fa fa-envelope header-icon" aria-hidden="true"></i> Email us: <a href="mailto:montupatidar43@gmail.com" title="montupatidar43@gmail.com">montupatidar43@gmail.com</a></span>
            </div>
            <div class="m-header-top-left">
               <p><i class="fa fa-phone header-icon" aria-hidden="true"></i> NEED HELP? CALL +1 (951) 123-4554</p>
            </div>
         </div>
      </div>
   </div>
   <div class="navbar">
       <div class="container">
      <div class="logo">
         <a href="#">
             The Corporate <span>Connection</span>
             <!-- <img src="/assets/logo.png" alt="logo"> -->
            </a>
      </div>
      <a class="press" onclick="openNav()">
      <span></span>
      <span></span>
      <span></span>
      </a>
      <div class="menuhover" id="myNav">
         <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>            
         <ul class="menu overlay-content " >
            <li class="active tab"><a href="#Home" title="Home">Home</a></li>
            <li class="tab "><a href="#About" title="About">About</a></li>
            <!-- <li class="tab "><a href="#Services" title="Services">Services</a></li> -->
            <li class="tab "><a href="#Services" title="Project Gallery">Gallery</a></li>
            <li class="tab "><a href="#Contact" title="Contact Us">Contact</a></li>
            <li class="tab "><a href="#Blog" title="Blog">Login</a></li>
            <li class="tab "><a href="#Contact" title="Contact Us">Registor</a></li>
         </ul>
         <div class="hover_header_top">
            <p><i class="fa fa-map-marker header_icon" aria-hidden="true"></i> 12 Royal Street, California USA</p>
            <p><a href="mailto:info@marchandmartin.com" title="mailto:info@marchandmartin.com"><i class="fa fa-envelope header_3" aria-hidden="true"></i> contact@domain.com</a></p>
         </div>
         <div class="serch">
            <a class="fa fa-search"></a>
         </div>
      </div>
      <div id="search_ip">
        <div class="search_bx">
           <input type="text" name="search" placeholder="search">
           <a href="#"><i class="fa fa-search"></i></a>
        </div>
   </div>
</div>
 </div>
</header>
<section class="banner" id="About">
    <div class="container">
          <div class="header_bottom_text">
             <div class=" banner_text table-cell" >
                <h2>Providing a first-class <br>insulation installation</h2>
                <p>We believe in consistently delivering exceptional quality, value and service to <strong>homeowners, contractors</strong> and <strong>architects.</strong></p>
                <button href="#" title="Request a FREE Estimate" class="banner_btn">REQUEST A FREE EStTIMTE</button>
             </div>
          </div>
       </div>
 </section>
 <div class="about" id="About">
    <div class="container">
       <div class="row">
         <!-- <div class="col-xs-12 col-sm-5 ">
          <div class="about_img" data-aos="fade-right">
            <img src="/assets/about_studio_img_1.png" alt="about_studio_img_1" class="about_studio_img_1 img-responsive">
            <img src="/assets/about_studio_img_2.png" alt="about_studio_img_1" class="about_studio_img_2 img-responsive" data-aos="fade-right">
         </div>
         </div> -->
         <div class="col-xs-12 col-sm-12 ">
            <div class="about_text" data-aos="fade-left">
                <h5>First your Should Know</h5>
                <h2>About The <span>Corporate</span></h2>               
                <p>Lorem ips illud nonummy, novum tation et his. Royal scriptaset patrioque scribentur, at pro fugit erts verter emmolestiae, sed et vivendo ali Lorem ipsum eillud nonu here mmy,
                     novum tation et scripta patrioque scriben tur Quisque ligulas ipsum, euismod atras vulputate iltricies.
                     Coordinates for abs po oordi nates for abs positioning the closest position.</p>
                <p>Lorem ips illud nonummy, novum tation et his. Royal scriptaset patrioque scribentur, at pro fugit erts verter emmolestiae, sed et vivendo ali Lorem ipsum eillud nonu here mmy,
                     novum tation et scripta patrioque scriben tur Quisque ligulas ipsum, euismod atras vulputate iltricies. 
                     Coordinates for abs po oordi nates for abs positioning the closest position.</p>
                <a href="#" class="About_learn_btn">Learn More</a>
            </div>
         </div>
       </div>
    </div>
 </div>

 <div class="WeDo" id="Services">
    <div class="container">
       <div class="row">
         
         <div class="col-md-7">
            <div class="WeDo_text" data-aos="fade-down" data-aos-easing="linear">
                <h5>Making Awesome Designs</h5>
                <h2>What We <span>Do</span></h2>               
                <p>Coordinates for abs po oordinates for abs positioning the closest positioned Coordinates for abs positioning the closest positioned parent box of the positioned ting that ments.</p>                     
            </div>
            <div class="row">
               <div class="col-xs-6 col-sm-6">
                 <div class="wed_process_bx" data-aos="fade-up">
                    <img src="/assets/cycle_icon.png" alt="Cycle">
                    <h4>Design & Development</h4>
                    <hr>
                   <p>Lorem ipsum dolor sit amet sea te alii viris mneo squer dipereum.</p>
                 </div> 
                  <div class="wed_process_bx" data-aos="fade-up">
                   <img src="/assets/direction_icon.png" alt="direction_icon">
                   <h4>Online Management</h4>
                   <hr>
                   <p>Lorem ipsum dolor sit amet sea te alii viris mneo squer dipereum.</p>
                 </div> 
               </div>
               <div class="col-xs-6 col-sm-6">
                <div class="wed_process_bx" data-aos="fade-up">
                    <img src="/assets/wave_icon.png" alt="wave_icon">
                    <h4>Creative Process</h4>
                    <hr>
                   <p>Lorem ipsum dolor sit amet sea te alii viris mneo squer dipereum.</p>
                 </div> 
                 
                 <div class="wed_process_bx" data-aos="fade-up" >
                   <img src="/assets/doubletick_icon.png" alt="doubletick_icon">
                   <h4>Friendly Support</h4>
                   <hr>
                   <p>Lorem ipsum dolor sit amet sea te alii viris mneo squer dipereum. </p>
                 </div> 
               </div>
            </div>
         </div>
         <div class="col-md-5">
          <div class="WeDo_img">
            <img src="/assets/your-artwork-here.png" alt="about_studio_img_1" class=" img-responsive">
            <!-- <img src="/assets/your-artwork-here.png" alt="about_studio_img_1" class="WeDo_img_hover img-responsive" data-aos="fade-down"> -->
         </div>
         </div>
       </div>
    </div>
 </div>