<button id="scroll_btn" title="Go to top"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
<header id="Home">
   <div class="bg-Blue">
      <div class="container">
         <div class="header-top row">
            <div class="header-top-txt col-md-4">
               <span><i class="fa fa-map-marker header-icon" aria-hidden="true"></i> 16 Winter Street, Peabody, MA 01960</span>
            </div>
            <div class="header-top-txt col-md-4">
               <span><i class="fa fa-phone header-icon" aria-hidden="true"></i> NEED HELP? CALL +1 (951) 123-4554</span>
            </div>
            <div class="header-top-txt col-md-4">
               <span><i class="fa fa-envelope header-icon" aria-hidden="true"></i> Email us: <a href="mailto:montupatidar43@gmail.com" title="montupatidar43@gmail.com">montupatidar43@gmail.com</a></span>
            </div>
            <div class="m-header-top-left">
               <p><i class="fa fa-phone header-icon" aria-hidden="true"></i> NEED HELP? CALL +1 (951) 123-4554</p>
            </div>
         </div>
      </div>
   </div>
   <div class="navbar">
       <div class="container">
      <div class="logo">
         <a href="#">
             The Corporate <span>Connection</span>
             <!-- <img src="/assets/logo.png" alt="logo"> -->
            </a>
      </div>
      <a class="press" onclick="openNav()">
      <span></span>
      <span></span>
      <span></span>
      </a>
      <div class="menuhover" id="myNav">
         <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>            
         <ul class="menu overlay-content " >
            <li class="active tab"><a href="#Home" title="Home">Home</a></li>
            <li class="tab "><a href="#About" title="About">About</a></li>
            <!-- <li class="tab "><a href="#Services" title="Services">Services</a></li> -->
            <li class="tab "><a routerLink="/Admin" title="Project Gallery">Admin</a></li>
            <li class="tab "><a href="#footer" title="Contact Us">Contact</a></li>
            <li class="tab "><a  routerLink="/indexLogin" title="Blog">Login</a></li>
            <li class="tab "><a title="Contact Us" data-toggle="modal" data-target="#exampleModalCenter">Registor</a></li>
         </ul>
         <!-- routerLink="/indexLogin" -->
         <div class="hover_header_top">
            <p><i class="fa fa-map-marker header_icon" aria-hidden="true"></i> 12 Royal Street, California USA</p>
            <p><a href="mailto:info@marchandmartin.com" title="mailto:info@marchandmartin.com"><i class="fa fa-envelope header_3" aria-hidden="true"></i> contact@domain.com</a></p>
         </div>
         <div class="serch">
            <a class="fa fa-search"></a>
         </div>
      </div>
      <div id="search_ip">
        <div class="search_bx">
           <input type="text" name="search" placeholder="search">
           <a href="#"><i class="fa fa-search"></i></a>
        </div>
   </div>
</div>
 </div>
</header>
 <!-- Modal -->
 <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLongTitle">Select Register</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         <div class="registor-choice">
            <a routerLink="/userreg" data-dismiss="modal" title="Sign Up For User" class="one">Sign Up For User</a>
            <a routerLink="/venuereg" data-dismiss="modal" title="Sign Up For Venue Provider" class="two">Sign Up For Venue Provider</a>
            <a routerLink="/venuereg" data-dismiss="modal" title="Sign Up For Supplier" class="three"> Sign Up For Supplier</a>
         </div>
      </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Close</button>
       </div>
     </div>
   </div>
 </div>