h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
	margin: 0;
	padding: 0;
}

a:hover {
	text-decoration: none;
}

a {
	text-decoration: none;
}

.bg-Blue {
	background-color: #15387a;
	width: 100%;
	position: relative;
	overflow: hidden;
}
.header-top {
	background-color: #15387a;
	color: #fff;
	font-size: 16px;
	padding: 14px 10px;
}
.header-top-txt{
    position: relative;
}
.header-top-txt a {
	color: #8ac4fe;
	text-transform: uppercase;
}
.m-header-top-left {
	display: none;
}

.m-header-top-left p {
	margin: 0;
}
.header-icon {
	padding-right: 10px;
	font-size: 14px;
}
.navbar {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0px;
    background-color: #ffff;
  }
  .navbar > .container{
      display: block;
  }
  .navbar:after {
    display: block;
    clear: both;
    content: " ";
  }
  
  .navbar_padding:after {
    display: block;
    clear: both;
    content: " ";
  }
  .logo {
    float: left;
    a{
        font-size: 22px;
        color: #15387a;
        font-weight: 600;
        span{
            color: #f77221;;
        }
    }
  }
  
//   .logo img {
//     width: 100%;
//   }
  
  .menu {
    position: relative;
   display: inline-block;
    //    padding-top: 8px;
  }
  .menu .active a{
      color: #f77221;
      padding-bottom: 10px;
      border-bottom: 3px solid #f77221;
  }
  .menu li{
       display: inline-block;
  }
  .menu li a {
    text-align: center;
    color: #333;
    font-size: 16px;
    margin: 0px 15px;
    transition: 0.2s all;
    text-transform: uppercase;
  }
  .menuhover .closebtn {
          display: none;
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 50px;
        color: #fff;
      }
  .serch{
      display: inline-block;
      float: right;
      position: relative;
    //   padding-top: 8px;
  }
  .serch a{
    display: inline-block;
    cursor: pointer;
    }
    .serch a:hover{
        color: #4caf50;
    }
  #search_ip{
      width: 100%;
      height:auto;
      left: 0;
      top: 100%;
      position: absolute;
      background: #f77221;
      z-index: 99;
      padding: 20px 0px;
      transition: 0.5s;
      display: none;
  }
  #search_ip input{
      width: 100%;
      margin: 0 auto;
      border: none;
      padding: 15px;
      border-radius: 30px;
      font-size: 18px;
      position: relative;
      transition: 0.5s;
  }
  #search_ip  .fa{
      position: absolute;
      right: 21px;
      margin-top: -11px;
      font-size: 23px;
      color: #FA4;
  }
  .search_bx{
      max-width: 900px;
      position: relative;
      height: 100%;
      margin: 0 auto;
      display: flex;
      align-items: center;
  }

  .press {
    display: none;
    position: absolute;
    right: 10px;
    top: 20px;
    font-size: 30px;
  }
  
  .press span {
    display: block;
    margin: 6px;
    width: 30px;
    height: 3px;
    background: #000;
  }
  
  .press:hover>span {
    background: #876;
  }
  
  .menu li a:hover {
         color: #f77221;
      padding-bottom: 10px;
      border-bottom: 3px solid #f77221;
  }
  .sticky {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }
  
  .sticky+.banner {
    padding-top: 60px;
  }
  .hover_header_top{
	display: none;
}

// banner section
.table-cell {
    display: table-cell;
    vertical-align: middle;
}
.banner {
	background: linear-gradient(to right, rgba(255, 255, 255, 0.30) 50%, rgba(255, 255, 255, 0.30)), url(/assets/GettyImages-961308746.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	background-position: center center;
	position: relative;
}
.header_bottom_text {
	position: relative;
	min-height: 800px;
	display: table;
}
.banner_text {
	position: relative;
	max-width: 700px;
	h2 {
		font-size: 40px;
		color: #0b258a;
        text-transform: uppercase;
        font-weight: 600;
	}
	p {
		padding: 45px 0px;
		font-size: 22px;
		color: #0b258a;
	}
}
.banner_btn {
	min-width: 295px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	background-color: #f77221;
	color: #fff;
	font-size: 18px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	transition: 0.4s ease-out;
	box-shadow: inset 0 0 0 0 #0266ca;
	-webkit-transition: ease-out 0.4s;
	-moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    text-transform: uppercase;
    font-weight: 500;
	&:hover {
		box-shadow: inset 0 100px 0 0 #0266ca;
		color: #fff;
	}
}
.owl-next {
	span {
		color: #fff;
		width: 50px;
		height: 50px;
		border: 1px solid #fff;
		border-radius: 50%;
		line-height: 40px;
		font-size: 40px;
	}
}
// banner section end
// about section start
.about {
	position: relative;
	width: 100%;
	height: auto;
	.about_img {
		width: 100%;
		margin-top: -140px;
		position: relative;
		z-index: 1;
	}
	.about_studio_img_1 {
		position: relative;
	}
	.about_studio_img_2 {
		position: absolute;
		top: 38px;
		left: 30px;
	}
}
.about_text {
	padding: 97px 0px 65px;
	color: #444444;
	h2 {
		font-size: 30px;
		font-weight: 600;
	}
	>h2 {
		>span {
			color: #f77221;
		}
    }
    h5{
        font-size: 14px;
    }
	p {
		margin: 30px 0px;
		line-height: 1.8;
		font-size: 14px;
	}
	.About_learn_btn {
		width: 168px;
		height: 45px;
		display: inline-block;
		text-align: center;
		line-height: 43px;
		color: #f77221;
		border: 1px solid #f77221;
		border-radius: 30px;
		font-size: 16px;
		transition: 0.5s ease-out;
		&:hover {
            background: #0266ca;
            border: 1px solid #0266ca;
			color: #fff;
		}
	}
}
// about section end
// process section start
.WeDo {
	position: relative;
	width: 100%;
	height: auto;
	background: #fafafa;
	padding: 77px 0px 25px;
	border-top: 2px solid #ededed;
	border-bottom: 2px solid #ededed;
}
.WeDo_img {
	width: 100%;
	position: relative;
	margin: 0 auto;
	text-align: center;
	img {
		box-shadow: 10px 10px 10px #d0d0d0;
	}
	.WeDo_img_hover {
		position: absolute;
		top: 150px;
		left: 170px;
	}
}
.WeDo_text {
	h5 {
		font-size: 14px;
	}
	h2 {
		font-size: 30px;
		font-weight: 600;
	}
	>h2 {
		>span {
			color: #f77221;
		}
	}
	p {
		margin: 37px 0px;
		line-height: 1.8;
		font-size: 14px;
	}
}
.wed_process_bx {
	width: 100%;
	height: auto;
	position: relative;
	margin-bottom: 60px;
	color: #444444;
	h4 {
		margin: 30px 0px 16px;
		font-weight: 600;
	}
	hr {
		width: 27px;
		height: 2px;
		display: inline-block;
		background: #f77221;
		margin: 0;
	}
	p {
		margin: 16px 0px 0px;
	}
}

// process section end


@media(max-width:1200) {
    .banner_text h2 {
		font-size: 35px;
		margin-top: 120px;
	}
}
@media (max-width:991px) {
    .banner_text h2 {
		margin-top: 85px;
		font-size: 30px;
	}
	.banner_text p {
		padding: 40px 0px;
	}
}
@media (max-width:767px) {
    .menuhover .closebtn{
		display: block;
    }
    .header-top-txt{
		display: none;
	}
	.m-header-top-left {
		display: block;
		font-size: 15px;
		width: 100%;
		text-align: center;
    }
    .hover_header_top{
		display: block;
		color: #fff;
		width: 100%;
		background: #FA4;
		padding: 10px 0px;
	}
	.hover_header_top p{
		font-size: 16px;
	}
	.hover_header_top p a{
		color: #fff;
	}
	.hover_header_top ul{
		list-style: none;
	}
	.hover_header_top ul li{
		display: inline-block;
		margin: 0px 10px;
    font-size: 20px;   
	}
	.hover_header_top ul li a{
	 color: #fff;	
    }
    .menu {
		width:100%;
		right: 0;
		position: relative;		
		margin: 20% 0px 0px;		
	}
	.menu li{
		display: block;
	}
	.menu li a {
		display: block;
		text-align: center;
		padding: 10px;
		margin: 0;
		border-bottom: 2px solid #fff;
		color: #fff;
    }
    .menu li a:hover{
        color: #000;
        border-bottom: 2px solid #fff;
        }
	.menu .active a{
	 color: #fff;
	 padding-bottom: 10px;
	 border-bottom: 2px solid #fff;
	}
	.menuhover {
	  height: 0%;
	  width: 100%;
	  position: fixed;
	  z-index: 99;
	  top: 0;
	  left: 0;
	  background-color:#15387a;
	  overflow-y: hidden;
	  transition: 0.5s;
	}
	.press {
		display: block;
		cursor: pointer;
	}
	.show {
		display: block;
	}
	.search{
		position: absolute;
		display: none;
		left: 50%;
		transform: translate(-50%);
    }
    .banner_text {
        max-width: 100%;
        padding: 0px 30px;
        h2 {
            margin-top: 65px;
            font-size: 30px;
        }
        p {
            padding: 40px 0px;
            max-width: 600px;
        }
    }
    .banner_btn {
        font-size: 15px;
        min-width: 260px;
        height: 50px;
        line-height: 50px;
    }
    .header_bottom_text {
		min-height: 500px;
		width: 100%;
		text-align: center;
	}
    
}
    @media(max-width:576px) {
        .header-top-txt {
            display: none;
        }
        .search{
            display: none;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100px;
        }
        .banner {
            height: auto;
        }
        .press {
            top: 5px;
        }
        .banner_text {
            text-align: center;
        }
        .banner_text p {
            font-size: 16px;
            padding: 25px 0px;
        }
        .banner_text h2 {
            margin-top: 0px;
            font-size: 19px;
        }
        .header_bottom_text {
            min-height: 400px;
            padding: 0 10px;
        }
    }
