h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}
.admin-main{
  position: relative;
  max-width: 100%;
  height: 100%;
  z-index: 1;
}
.main{
  display: block;
  width: 100% !important;
  display: flex;
  position: absolute;
  flex-direction: row;
  height: auto;
}
.sidebar{
  width: 200px;
  height: 100vh;
  position: relative;
  display:flex;
  flex-direction: column;
  z-index: 1;
  background-color: #15387a;
  color: #fff;
  overflow: hidden;
  transition: 0.5s all;
}
.main-content{
  flex-basis: 100%;
  height: 100vh;
  background-color: #f1f1f1;
  position: relative;
  overflow-y: auto;
}
.hide_show{
  position: absolute;
  left:0;
  top: 10px;
  z-index: 1;
  transition: 0.5s all;
}
.hide_show a{
  position: relative;
  display:inline-block;
  color: #fff !important;
  width: 50px;
  height: 50px;
  border-radius:0;
  border-top-right-radius:50%;
  border-bottom-right-radius:50%;
  font-size: 22px;
  text-align: center;
  line-height: 50px;
  background-color: #ff625b;
  transition: 0.3s ease;
}
.hide_show a:hover{
  background-color: #384f79;
}
.Amenu-space-remov{
  width: 0%;
}
.Amenu{
  margin-top: 122px;
  list-style: none;
}
.Amenu li{
 display: block;
}
.Amenu li a{
  display: block;
  color:#fff;
  transition: .3s all;
  border-left: 5px solid transparent;
   padding: 10px;
  font-size: 18px;
}
.Amenu li .fa{margin-right: 10px;}

.Amenu li.active a{
  border-left: 5px solid #ff625b;
}
.Amenu li a:hover{
  border-left: 5px solid #ff625b;
  color: #ff625b;
}
.side-m-drop{
background-color: #15387a;
border: none;
}
.side-m-drop a:hover{
  background-color: transparent;
}
.main-top{
  padding: 50px 0px;
  position: relative;
  text-align: right;
}
.m-top-search{
  display: inline-block;
  margin-right: 10px;
  font-size: 18px;
  color: #15387a;
}
.search-box{
  display: none;
  position: relative;
  margin-right: 10px;
}
.search-box .fa{
  position: absolute;
  right: 15px;
  top: 0;
}
.search-box input{
  padding: 5px 10px;
  transition: 0.5s all;
  border: 2px solid green;
  border-radius: 20px;
}
.m-top-list{
  display: inline-block;
  text-align: right;
  list-style: none;
  font-size: 18px;
}
.m-top-list li {
color: #15387a;
display: inline-block;
}
.m-top-logo {
  margin-left: 15px;
  width: 50px;
  height: 50px;
  border: 3px solid #15387a;
  border-radius: 50%;
  }
.m-top-logo img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.m-top-logo .dropdown-menu a:hover{background-color: #15387a; color: #fff;}
.tip{margin-top: 10px;border: none; }
.tip::after {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 10px;
  margin-left: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}
.main-center{
  width: 100%;
  position: relative;
  color: #15387a;
}
.Dash-tit{
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 30px;  
}
.skyblue{
  background-color: #58b5fc;
}
.orange{
background-color: #ff625b;
}
.lightBlue{
/* background-color: #61d861; */
background-color: #7965f1;
}
.lightGreen{
  background-color: #61d861;
}
.content-bx{
  width: 100%;
  padding: 15px 30px;
  transition: 0.5s all;
  border-radius: 5px;
  text-align: right;
}
.content-bx a{
  display: block;
 color: #fff;
}

.content-bx a h5{
 font-size: 35px;
 margin-bottom: 30px;
}
.content-bx a p{
  font-size: 20px;
}

@media (max-width:991px){
  .content-bx{
    margin-bottom: 30px;
  }
}
@media (max-width:768px){

}