<div class="main">
    <div class="sidebar">
       <!-- <a href="#" class="open-close fa fa-bars" aria-hidden="true"></a> -->
       <ul class="menu">
          <li class="active"><i class="fa fa-dashboard"></i>  <a href="#">Admin</a></li>
          <li><i class="fa fa-user"> </i><a href="#"> User</a></li>
          <li><i class="fa fa-user"></i> <a href="#"> Venue Provider</a></li>
       </ul>
    </div>
    <div class="main-content">
       <div class="container">
       <div class="main-top">
          <span class="search-box">
             <input type="search" placeholder="Search">
             <a class=""><i class="fa fa-search"></i></a>
          </span>
          <a  class="m-top-search"><i class="fa fa-search"></i></a>
          <ul class="m-top-list">
             <li class="view">Admin</li>
             <li class="m-top-logo"><img src="assets/person2.png" alt=""></li>
          </ul>
       </div>
       </div>
       <div class="container">
       <div class="main-center">
          <h2 class="Dash-tit">Dashboard</h2>
          <div class="row">
             <div class="col-md-4">
                <div class="content-bx skyblue">
                   <a href="#">
                   <h5><i class="fa fa-users float-left"></i>220</h5>
                   <p>Total Users</p>
                </a>
                </div>
             </div>
             <div class="col-md-4">
                <div class="content-bx orange">
                   <a href="#">
                   <h5><i class="fa fa-user float-left"></i> 220</h5>
                   <p>Total Venue Providers</p>
                   </a>
                </div>
             </div>
             <div class="col-md-4">
                <div class="content-bx lightBlue">
                   <a href="#">
                   <h5><i class="fa fa-user float-left"></i> 220</h5>
                   <p>Total Admins</p>
                   </a>
                </div>
             </div>
          </div>
       </div>
       </div>
    </div>
 </div>