    <!-- carousel slider end -->
    <div class="chat_form">
        <div class="container">
           <div class="form">
              <h2 style="">Ready to chat?</h2>
              <form action="#">
                 <div class="form-groups">
                    <i class="fa fa-user"></i>
                    <input type="text" class="input" id="exampleFormControlInput1" placeholder="Your Name" />
                 </div>
                 <div class="form-groups">
                    <i class="fa fa-envelope"></i>
                    <input type="email" class="input" id="exampleFormControlInput1" placeholder="Email" />
                 </div>
                 <div class="form-groups">
                    <i class="fa fa-phone"></i>
                    <input type="text" class="input" id="exampleFormControlInput1" placeholder="Phone" />
                 </div>
                 <div class="form-groups">
                    <textarea class="input" id="exampleFormControlTextarea1"  placeholder="How We Can Help You ?"></textarea>
                 </div>
                 <a href="#" title="Submit" title="hello" class="cheat_submit">SUBMIT</a>
              </form>
           </div>
        </div>
     </div>